<div class="container">
    <div class="ninjaLogo">
        <img src="https://files.codingninjas.in/cn-logo-dark-9824.svg" alt="">
    </div>
    <div class="socialAbout">
        <div class="ninjaAbout">
            <p>Coding Ninjas</p>
            <ul>
                <li>
                    About Us
                </li>
                <li>
                    Privacy Policy
                </li>
                <li>
                    Terms & Condition
                </li>
                <li>
                    Pricing & Refund Policy
                </li>
                <li>
                    Customers
                </li>
            </ul>
        </div>
        <div class="products">
            <p>Products</p>
            <ul>
                <li>
                    Courses
                </li>
                <li>
                    Courses for Free
                </li>
                <li>
                    Career Camp
                </li>
                <li>
                    Hire Talent
                </li>
            </ul>
        </div>

        <div class="community">
            <p>Community</p>
            <ul>
                <li>
                    Code Studio
                </li>
                <li>
                    Blog
                </li>
                <li>
                    Events
                </li>
                <li>
                    Campus Ninja
                </li>
            </ul>
        </div>

        <div class="contactfollow">
            <h4>Follow Us</h4>
            <div class="social">
                <a href="#"><img src="https://files.codingninjas.in/0000000000003240.png" alt=""></a>
                <a href="#"><img src="https://files.codingninjas.in/0000000000003241.png" alt=""></a>
                <a href="#"><img src="https://files.codingninjas.in/0000000000003245.png" alt=""></a>
                <a href="#"><img src="https://files.codingninjas.in/0000000000003247.png" alt=""></a>
                <a href="#"><img src="https://files.codingninjas.in/0000000000003242.png" alt=""></a>

            </div>
            <h4>Contact Us</h4>
            <div class="contact">
                <div class="phone">
                    <img src="https://files.codingninjas.in/0000000000003251.png" alt="">
                    <p>98347834873</p>
                </div>

            </div>

            <div class="contact">

                <div class="email">
                    <img src="https://files.codingninjas.in/0000000000003250.png" alt="">
                    <p>hsasjhds@dcdc.com</p>
                </div>
            </div>


        </div>


    </div>

</div>

<div class="importantLinks">
    <h2>Important Links</h2>
    <p>CODING COURSES FOR BEGINNERS:</p>
    <div>

        <li><a href="">C++ Foundation with Data Structures |</a></li>
        <li><a href="">&nbsp; JAVA Foundation with Data Structures |</a></li>
        <li><a href=""> &nbsp;Interview Preparation Course |</a></li>
        <li><a href="">&nbsp; Competitive Programming Course |</a></li>
        <li><a href=""> &nbsp;Python Foundation with Data Structures |</a></li>
        <li><a href="">&nbsp; Aptitude Preparation Course |</a></li>
    </div>

    <p>ADVANCED CODING COURSE:</p>
    <div>

        <li><a href="">&nbsp;Advanced Front-End Web Development with React |</a></li>
        <li><a href="">&nbsp;JMachine Learning and Deep Learning Course |</a></li>
        <li><a href="">&nbsp;Full Stack Web Development Course |</a></li>
        <li><a href="">&nbsp;Data Science & Machine Learning Complete |</a></li>
        <li><a href="">&nbsp;Python Foundation with Data Structures |</a></li>
        <li><a href="">&nbsp;Aptitude Preparation Course |</a></li>
    </div>

</div>