<app-main-navbar>
    <div class="header">
        <h1 class="header-title">Events And News</h1>
        <h3 class="header-subtitle">Learn, Compete & Grow</h3>
    </div>
    <div class="contain">
        <div class="container">
            <div class="categories">
                <div>

                    <a class="mainEvents" [ngClass]="{'selected': selectedCategory=='ALL_EVENTS'}" href="#"
                        (click)="selectCategory('ALL_EVENTS')"><img class="temp"
                            src="https://www.codingninjas.com/assets-landing/images/all-events-unselected.svg"
                            [ngClass]="{'selected': selectedCategory=='ALL_EVENTS'}" alt="">All
                        Events</a>
                </div>
                <div>
                    <a class="mainEvents" [ngClass]="{'selected': selectedCategory=='WEBINAR'}" href="#"
                        (click)="selectCategory('WEBINAR')"><img
                            src="https://www.codingninjas.com/assets-landing/images/all-events-unselected.svg"
                            alt="">Webinars</a>
                </div>
                <div>
                    <a class="mainEvents" [ngClass]="{'selected': selectedCategory=='CODING_EVENT'}" href="#"
                        (click)="selectCategory('CODING_EVENT')"><img
                            src="https://www.codingninjas.com/assets-landing/images/all-events-unselected.svg"
                            alt="">Coding
                        Events</a>
                </div>
                <div>
                    <a class="mainEvents" [ngClass]="{'selected': selectedCategory=='BOOTCAMP_EVENT'}" href="#"
                        (click)="selectCategory('BOOTCAMP_EVENT')"><img
                            src="https://www.codingninjas.com/assets-landing/images/all-events-unselected.svg"
                            alt="">Bootcamps Events</a>
                </div>
                <div>
                    <a class="mainEvents" [ngClass]="{'selected': selectedCategory=='WORKSHOP'}" href="#"
                        (click)="selectCategory('WORKSHOP')"><img
                            src="https://www.codingninjas.com/assets-landing/images/all-events-unselected.svg"
                            alt="">Workshops</a>
                </div>
            </div>

            <div class="sub_categories">
                <ul>
                    <li><a (click)="selectSubCategory('Upcoming')" href="#">Upcoming</a>

                    </li>
                    <li><a (click)="selectSubCategory('Archived')" href="#">Archived
                        </a></li>
                    <li><a class="temp" [ngClass]="{'temp1': selectedSubCategory =='All Time Favorites'}"
                            (click)="selectSubCategory('All Time Favorites')" href="#">All Time
                            Favorites</a></li>
                </ul>
                <div>

                </div>


            </div>


            <div class="events">
                <div class="event_links">
                    <h1 *ngIf="events.length == 0">No Events At The Time</h1>
                    <app-event-card *ngFor="let event of dataSource" [item]="event"></app-event-card>


                </div>
                <div class="tag_list">
                    <h2>Tags</h2>
                    <div class="tags" *ngFor="let tag of tags" [ngClass]="{'selectedTag': map.has(tag) == true }"
                        (click)="selectTags(tag)">
                        {{tag}}
                    </div>

                </div>
            </div>


        </div>
        <button class="fab" mat-fab><img src="\assets\Images\filter.png" (click)="openFilter()" alt=""></button>
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" (page)="onPageChange($event)">
    </mat-paginator>


    <app-footer></app-footer>

</app-main-navbar>


<router-outlet></router-outlet>